<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_app_4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app_4"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlphaAi"
        tools:targetApi="31">
        <activity
            android:name=".ui.history.search.SearchHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.StartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgetpassword.newpassward.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgetpassword.sendmail.SendEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgetpassword.otp.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tasks.stt.STTActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tasks.doc.DOCActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tasks.er.ERActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tasks.ocr.OCRActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tasks.gec.GECActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tasks.wr.WRActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onBoarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>